<!DOCTYPE html>
<html>
  <head>
    <title>Your Email Template</title>
  </head>
  <body>
    <p>
      Hai <%= name %>! Undangan Interview Anda telah diterima. Harap hadir sesuai dengan jadwal yang telah ditetapkan. 
      <br>
      <br>
      Hari: <%= date %>
      <br>
      Jam: <%= startTime %> - <%= endTime %>
      <br>
      Tempat: https://us02web.zoom.us/j/79575480956?pwd=IbaXUngcgBlWYLaypMwwQTzzZ4uPdZ.1
      <br>
      <br>
      Sebelum melakukan Interview, harap lengkapi formulir pendaftaran untuk anak Anda pada link berikut <br><br> <%= url %>/child-verification?childId=<%= childId %>. 
      <br>
      <br>
      Jika ingin melakukan interview offline dan ada perubahan atau tambahan informasi, silahkan hubungi Admin kami.
    </p>
  </body>
</html>