<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <%- include("./shared/header.ejs") %>
  <body>
    <table
      class="email-wrapper"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <tr>
        <td align="center">
          <table
            class="email-content"
            width="100%"
            cellpadding="0"
            cellspacing="0"
            role="presentation"
          >
            <!-- Email Body -->
            <tr>
              <td
                class="email-body"
                width="570"
                cellpadding="0"
                cellspacing="0"
              >
                <table
                  class="email-body_inner"
                  align="center"
                  style="width: 100%;"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                >
                  <!-- Body content -->
                  <tr>
                    <td class="content-cell">
                      <div class="f-fallback">
                        <p>
                          Hai <strong><%= locals.name %></strong>!<br /><br />
                          Ada tagihan yang harus segera diselesaikan.<br/>
                          Tanggal Tagihan: <strong><%= locals.expired_date %></strong><br />
                          Jumlah: <strong><%= locals.amount %></strong><br /><br/>
                          Detail tagihan dapat dilihat
                          <a href="<%= locals.link %>">di sini</a>.
                        </p>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <%- include("./shared/footer.ejs") %>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
